<!DOCTYPE html>

<html>
  
    <head>
        <title>Football Player Stats Lookup</title>
        <link rel="stylesheet" href="/styles.css" type="text/css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <!--navbar-->
        <nav>
            <img src="/football.webp" id="football">
            <div class="links">
                <a href="/">Home</a>
                <a href="/lookup">Player Lookup</a>
            </div>
        </nav>

        
        <!--form-->
        <div id="form">
            <h2>Lookup A Player</h2><br>
            <form action="/lookup-result" method="post">
                First Name: <input type="text" name="firstname" placeholder="Amon-Ra" required><br>
                Last name: <input type="text" name="lastname" placeholder="St. Brown" required><br><br>
                
                <input type="submit" value="Submit Lookup">
            </form>
        </div>
        
    </body>
</html>
